
$font-Bungee: "Bungee", sans-serif;
$font-Source: "Source Sans Pro", sans-serif;
$blue: #4056A1;
$background-color: #f4f1ec;
$font-color: #FFFFFF;
$text-color: #545149;
$icon-color: red;
$header-color: #f5a300;
$text-border: 3px solid #545149;
$background-img: url("https://www.transparenttextures.com/patterns/gplay.png");

