@import '_variables.scss';
/* Header With Background And Avatar Styling */

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 120px;
  height: 520px;
  background-color: $header-color;
  background-image: $background-img;
}

/* User Name styling */
figcaption {
  text-align: center;
  color: $font-color;
  font-size: 36px;
}