@import '_helpers.scss';

/* 
* Header (with background and avatar) styling
*/
.main-header {
  @include center-align(column);
  width: 100%;
  padding-top: 60px;
  height: 460px;
  background: {
    color: $header-color;
    image: $background-img;
  }
}

/* 
 * User Name styling
 */
figcaption {
  text-align: center;
  color: $font-color;
  font-size: 36px;
}