@import '_helpers.scss';

/*
 * Tweet Form Styling
 */
textarea {
  background-color: $background-color;
  border: none;
  border-bottom: $text-border;
  outline: none;
  width: 100%;
  font-size: 18px;
}

/*
 * Tweet button and counter styling
 */
.post-tweet {
  padding-top: 10px;

  .counter {
    font-family: $font-Bungee;
    float: right;
  }

  button {
    background-color: $blue;
    color: $font-color;
    text-align: center;
    font-family: $font-Bungee;
  }
}

/*
 * Tweet Form styling
 */
#tweet-form {
  display: none;
  width: 100%;
  margin: {
    top: 40px;
    bottom: 40px;
  }
  font-weight: 600;
}

/*
 * Error message styling
 */
.tweet-form-error {
  display: none;
  padding-left: 10px;
  margin-bottom: 50px;
  color: $icon-color;
  border: {
    color: $icon-color;
    width: 3px;
    style: solid;
  }
  font: {
    weight: 300;
    size: 20px;
  }

  i.fa-solid.fa-triangle-exclamation {
    padding: 10px;
  }
}

/*
 *Class to apply when too many characters are entered into textarea
 */
.counter-err {
  color: $icon-color;
}