@import '_helpers.scss';
/* Posted Tweets Styling */

.tweets-display {
  width: 100%;
}

article {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: $text-border;
  margin: {
    top: 30px;
    bottom: 30px;
  }
  justify-content: center;

  &:hover {
    box-shadow: 7px 7px 1px #b0c0f6;
  }

  p {
    width: 97%;
    margin: auto;
    border-bottom: $text-border;
    padding-bottom: 20px;
    margin-top: 10px;
    overflow-wrap: break-word;
  }
}

/* Mini Avatar, name, and handle styling */
.tweets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin: auto;
  margin-bottom: 10px;
}

.handle {
  color: #a1b4f3;
}

/* Mini Avatar and name styling */
.who-tweeted {
  display: flex;
  flex-direction: row;
  align-items: center;

  h3 {
   font: {
    weight: 300;
    size: 24px;
   }
  }

  img {
    width: 50px;
    padding-right: 10px;
  }
}



/* Days since posted and icons styling */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding: {
    bottom: 1.5em;
    top: 0.5em;
  }
  font-size: 14px;
  align-items: center;
}

.article-icons .fa-solid{
  color: $blue;
  font-size: 16px;
  padding: {
    left: 3px;
    right: 3px;
  }

  &:hover {
    color: #d4c306;
    cursor: pointer;
  }
}
