/* 
 * Variables
 */
/*
 * Mixin to center-align element display it by {$direction: row or column}
 */
/* 
* Header (with background and avatar) styling
*/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 60px;
  height: 460px;
  background-color: #f5a300;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

/* 
 * User Name styling
 */
figcaption {
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
}
