.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 120px;
  height: 520px;
  background-color: #f5a300;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

figcaption {
  text-align: center;
  color: white;
  font-size: 36px;
}