textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #545149;
  outline: none;
  width: 100%;
  font-size: 18px;
  
}
.post-tweet {
  padding-top: 10px;

}
.post-tweet button {
  background-color: #4056A1;
  color: white;
  text-align: center;
  font-family: 'Bungee', sans-serif;
}

.tweet-form {
  width: 100%;
  margin-top: 20px; /* use margin!!!! */
  font-weight: 600;
}

.counter {
  font-family: "Bungee", sans-serif;
  float: right;
}

.counter-err {
  color: red;

}