/* Tweet Form Styling */

textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #545149;
  outline: none;
  width: 100%;
  font-size: 18px;
  
}

/* Tweet button and counter styling */
.post-tweet {
  padding-top: 10px;
}

.post-tweet button {
  background-color: #4056A1;
  color: white;
  text-align: center;
  font-family: 'Bungee', sans-serif;
}

.counter {
  font-family: "Bungee", sans-serif;
  float: right;
}

/* Whole Form styling */
.tweet-form {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}

/* Class to apply when too many characters are entered into textarea */
.counter-err {
  color: red;
}